.bettingGrid {
    border: 1px solid black;
    width: 600px;
    height: 200px;
}

%cell-shared {
    stroke: yellow;
    cursor: pointer;
    stroke-width: 1;
}

%cellHover-shared {
    fill: steelblue;
    opacity: 90%;
}

.redSquereCell {
    @extend %cell-shared;
    fill: red;
    height: 50px;
    &:hover {
        @extend %cellHover-shared;
    }
}

.blackSquereCell {
    @extend %cell-shared;
    fill: black;
    height: 50px;
    &:hover {
        @extend %cellHover-shared;
    }
}

.dozenCell {
    @extend %cell-shared;
    fill: black;
    height: 25px;
    &:hover {
        @extend %cellHover-shared;
    }
}

.bottomCell {
    @extend %cell-shared;
    cursor: pointer;
    height: 25px;
    &:hover {
        @extend %cellHover-shared;
    }
}

%cellText-shared {
    fill: white;
    pointer-events: none;
    cursor: none;
    font-size: 15px;
    text-anchor: middle;
}

.squareCellText {
    @extend %cellText-shared;
    stroke-width: 0.5;
    font-weight: bold;
}

.dozenCellText {
    @extend %cellText-shared;
    padding-top: 50px;
}

.bottomCellText {
    @extend %cellText-shared;
    padding-top: 50px;
}

.bottomCell2 {
    @extend %cell-shared;
    fill: red;
}
